	<app-main-menu-bar></app-main-menu-bar>
	<div class="wrapper">
		<section class="sec1"> </section>
		<section class="content">
			<div id="login">
				<div id="login-container">
				<h1> LOG IN</h1>
				<form action="Login" method="POST">
					<div class="tbox">
						<input type="text" placeholder="username" name="username" value="">
					</div>	
					<div class="tbox">
						<input type="password" placeholder="password" name="password" value="">
					</div>
					<input class="btn" type="submit" value = "Log In" >					
			    </form>
				</div>
			</div>
		 </section>
		 <section class="content">
			<div id="register">
				<div id="register-container">
					<h1> REGISTER</h1>
					<form action="Register" method="POST">
						<div class="tbox">
							<input type="text" placeholder="username" name="username" value="">
						</div>	
						<div class="tbox">
							<input type="password" placeholder="password" name="password" value="">
						</div>
						<input class="register-btn" type="submit" value = "Register" >					
			    	</form>
				</div>
			</div>
		 </section>	 
		 <section class="content">
		 	<div id="contact">
		 		<div class="address">
		 		    <br><br><br><br><br><br><br><br><br>
		 			<p>Email: abcd@cleaning.com </p>
		 			<p>Mobile: +1 234 567 89 </p>
		 			<p>Address: CityA, CountryB </p>

		 	</div>
		 </section>
	</div>
