#contact {
	width:900px;
	float:left;
	overflow:hidden;
	padding-left: 100px;
}
.address {
	display:inline-block;	
}
section.sec1 {
	width: 100%;
	height: 10vh;
	background-size:cover;
	background-position:center;
}
section.content {
	width: 100%;
	height: 80vh;
}
.content{
	margin-top:0px;	
}
#subtext{
	margin:10px auto;
	text-align:justify;
	font-size:16px;
	line-height:10px;
	
}
.content p{
	width:900px;
	margin:0px auto;
	text-align:justify;
	font-size:24px;
	line-height:30px;
}

#login-container{
	width:400px;
	height:600px;
	position:absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%, 50%);
	color:gray;
	text-align:center;
}
#login-container-index{
	width:400px;
	height:1200px;
	position:relative;
	top:50%;
	left: 50%;
	transform:translate(-50%, 30%);
	color:gray;
	text-align:center;
}
#register-container{
	width:400px;
	height:800px;
	position:absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%, 80%);
	color:gray;
	text-align:center;
}
.login-container h1{
	font-size: 40px;
	margin-top: 125px;
	margin-bottom: 60px;
	text-align:center;
}
.login-container p{
	font-size: 50px;
	margin-top: 110px;
	margin-bottom: 40px;
	text-align:center;
}
.login-container-index h1{
	font-size: 40px;
	margin-top: 125px;
	margin-bottom: 60px;
	text-align:center;
}
.login-container-index p{
	font-size: 50px;
	margin-top: 110px;
	margin-bottom: 40px;
	text-align:center;
	color:green;
}
.register-container h1{
	font-size: 40px;
	margin-top: 125px;
	margin-bottom: 60px;
	text-align:center;
}
.tbox{
	width: 260px;
	height:40px;
	background:#f1f1f1b3;
	border-radius: 10px;
	margin:0px auto;
}
.tbox input{
	background:none;
	border: none;
	outline:none;
	text-align:center;
	width:90%;
	line-height:37px;
	font-family:"Montserrat", sans-serif;
	font-size:14px;
	color:#333;
}
.btn{
	width:260px;
	height: 40px;
	background: #3498db;
	border-radius: 10px;
	margin: 14px auto;
	display: block;
	font-family:"Montserrat", sans-serif;
	font-size: 16px;
	border: none;
	color: white;
	cursor:pointer;
}
.register-btn{
	width:260px;
	height: 40px;
	background: #E2471F;
	border-radius: 10px;
	margin: 14px auto;
	display: block;
	font-family:"Montserrat", sans-serif;
	font-size: 16px;
	border: none;
	color: white;
	cursor:pointer;
}
