
  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="assets/images.jpg" class="w3-round w3-image " alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Cleaning Service</h1><br>
      <p class="w3-large">The company was founded in Hungary by Yuri, Ahmed, Naz and Bold.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">This company offers cleaning service</p>
    </div>
  </div>
  
  <div class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px;">
  <img class="w3-image" src="assets/95_pic3_o.jpeg" alt="middlepic" width="1600" height="200">
  <div class="w3-display-middle w3-padding-large w3-opacity w3-white w3-lobster">
    <h1 class="w3-xxlarge">Shine your place</h1>
  </div>
</div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="contact">
    <h1>Contact</h1><br>
    <p>Company offers full-service cleaning for any places, large or small.</p>
	<p> Do not hesitate to contact.</p>
    <p class="w3-text-blue-grey w3-large"><b>Cleaning Service, Budapest, HUGARY</b></p>
    <p>You can also contact by phone +362121111 or email 1298374@gmail.com, or you can send message here:</p>
	<form>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Food Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="number" placeholder="How many" required name="Quantity"></p>
      <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date" value="2017-11-16T20:00"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message \ Special requirements" required name="Message"></p>
      <p><button class="w3-button w3-light-grey w3-section" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>
  
<!-- End page content -->


<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p>copyright@ <a href="https://www.facebook.com/yr7913" title="KIMYURI" target="_blank" class="w3-hover-text-green">AndySoft</a></p>
</footer>